 @model IEnumerable<DesktopApplication.Models.CorporationModel>

@{
    ViewData["Title"] = "Corporation Index";
}

<h1>Corporations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorporationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CorporationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CorporationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CorporationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>






       

