@model DesktopApplication.Models.BranchModel

@{
    ViewData["Title"] = "Branch Details";
}

<h1>Details</h1>
<div class="d-flex justify-content-between">
    <a asp-action="Index">Back to Branch List</a>
    <a asp-action="Edit" asp-route-id="@Model?.BranchId">Edit Branch</a>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<div>
    <h4>Branch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BranchCreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn) 
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corporation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corporation.CorporationName)
        </dd>
    </dl>
</div>


