@model IEnumerable<DesktopApplication.Models.BranchModel>

@{
    ViewData["Title"] = "Branch Index";
    Layout = "~/Views/Shared/_LayoutCorporation.cshtml";
}
<link href="~/css/stylemain.css" rel="stylesheet" />
<h1> Branch Index</h1>
<div class="d-flex justify-content-between">
    <a asp-action="Create">Create New Branch</a>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corporation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Corporation.CorporationName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BranchId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BranchId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BranchId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="main">
    <img src="~/assets/branchhome.jpg"  alt="branch home"/>
</div>